<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MemoryMoment.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
				<key>dateExpires</key>
				<string>2024/01/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06E7350EE8D34D6B3528AEC7DD2BA5091B412057</string>
						<key>dateExpires</key>
						<string>2024/01/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJVGRM2SN6</string>
						<key>name</key>
						<string>WOOSEOB LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WJVGRM2SN6.Com.WooSeob.MemoryMoment</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WJVGRM2SN6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MemoryMoment.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fe48e880-60a5-42b6-bef8-a0e984c19e8f</string>
				<key>dateExpires</key>
				<string>2024/01/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: Com.WooSeob.MemoryMoment</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WJVGRM2SN6</string>
				<key>name</key>
				<string>WOOSEOB LIM</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
